 version: 2
 jobs:
   build:
     working_directory: ~/<project root directory>
     docker:
       - image: circleci/<language>:<version TAG>
     steps:
       - checkout
       - run: echo "hello world"
